body {
    margin: 0;
}

.quiz {
    margin: 0 auto;
    margin-top: 300px;
    width: 230px;
}

.quiz-indicator {
    margin-bottom: 20px;
}

#btn-restart {
    visibility: hidden;
}

.btn-next--hidden,
.indicator--hidden,
.questions--hidden {
    display: none;
}

.answer-invalid {
    color: red
}

.answer-valid {
    color: green
}